*{margin:0; padding:0;}

#container{
  position: relative;
  overflow: hidden;
}



#root1{
  width:100vw;
  height:100vh;
  background-color:#89CCDB;
}

#root2{
  overflow: hidden;
  width:100vw;
  height:100vh;
  background-color:#89CCDB;
}


.zoomIn {
  animation-name: zoomIn;
  animation-duration:2s;
  animation-direction:normal;
  animation-fill-mode: forwards;
}


@keyframes zoomIn {
  0%{
    opacity: 0;
  }
  100%{opacity: 1;}
}